@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 400; */
    /* font-style: normal; */
}

:root{
    --primary-color:#6366f1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    /* padding: 1rem; */
}

.header-content{
    max-width:1280px;
    margin: 1rem auto;
    /* position: relative;
    left: 15%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.625rem;
}

.logoIcon{
    width: 1.938rem;
    height: 5.875rem;
}

.nav-bar{
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width:750px){
    .nav-bar{
        display: none;
    }

    .contact-button{
        display: none;
    }

} 

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s; 
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-button:hover{
    background-color:var(--link-color)
}

.menu-button{
     background-color: var(--background-color);
     border: none;
     font-weight: 600;
     font-size: 1rem;
     padding: 0.5rem 0.8rem;

}

@media (min-width:750px){
    .menu-button{
        display: none;
    }
}

.menu-icon{
    width: 1.7rem;
    height:1.7rem;
}


.main-section{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0.6rem; */

}

.left-content{
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{
    
    0% {
        transform: translateX(-100%);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
    padding: 1.2rem 0.3rem 0 0;
}

.section-heading{
    font-size: 2.3rem;
    color: black;
    padding: 1rem;
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}

.section-button{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    justify-content:center ;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.left-button,.right-button{
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
   
}

.right-button{
    background-color: var(--dark-gray);
}

.left-button:hover{
    background-color:var(--link-color)
}

.right-button:hover{
    background-color: var(--gray);
}

.right-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    overflow: hidden;
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
    width: 80vw;
    margin: 1rem auto;
}

.section-image{
    height:100%;
    width:100%;
    object-fit:cover ;
    /* object-position: right; */

}

@media screen and (min-width:750px){
    .main-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;

    }

    .left-content{
        max-width: 50%;
    }

    .right-content{
        max-width: 46%;
        padding: 0.5rem 0rem;
    }

    .section-heading{
        padding-left: 0;
        font-size: 4.1rem;

    }

    .section-button{
        justify-content: left;
        margin-left: 0;
        padding-left: 0;
        /* gap: 2rem; */
    }

    .section-label{
        font-size: 0.9rem;
    }

    .image-container{
        height: 72vh; 

    }

    .section-description{
        color: var(--gray);
        width: 92%;
        font-size: 1.1rem;
    }

}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    
}

@keyframes slideFromLeft{
    
    0% {
        transform: translateX(-100%);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

.company-grid{
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 0.625rem;


}

.company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;
    color: var(--gray);
}

.svg-img{
    height: 1.8rem;
    /* width: 1rem; */
    color: grey;
}

.logo-text1{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--graygray);
}


@media screen and (min-width:750px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);

    } 

    .company-title{
        font-size: 2.3rem;
        font-weight: bold;

    }

    .company-container{
        margin-top: 0;
    }
}


.feature-container{
    background-color: var(--light-gray);
    margin: 1rem 0;
    padding: 1rem 0;

}
.feature-content{
    max-width: 800px;
    margin:1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.main-info-heading{
    font-size: 2.4rem;
    font-weight: bold;

}

.main-info-description{
    color: var(--gray);
    font-size: 1rem;
}

.card-container{
    display: grid;
    gap:1.6rem;
    grid-template-columns: repeat(2,1fr);
    /* padding: 1rem; */
    margin-top: 2rem;
}

@media screen and (max-width:750px){
    .card-container{
    
        grid-template-columns: repeat(1,1fr);
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    color: var(--background-color);
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    border: none;
}
.card-img-container{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image{
    height: 50%;
    width: 50%;
}

.card:nth-child(3){
    background-color: #fcbf58;
}

.card2{
    background-color: #ff6289;
    
}

.card1{
    background-color: #4a90e2 ;
}

.card4{
    background-color: #44bfc3;
}

.card5{
    background-color: #77b05d;
    color: #77b05d ;

}
.card5 .card-info-description,.card-info-heading{
    color: var(--background-color);
}

.card6{
    background-color: #7d78b1;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.card-info-heading{
    font-weight: bold;
    font-size: 1.3rem;
}

.card-info-description{
    /* font-size: 1rem; */
    font-weight: 400;
}


.test-content{
    max-width: 1280px;
    margin: 1.8rem auto;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    /* align-items: center; */

}

.test-content-heading{
    font-size: 1.875rem;
    font-weight: bold;
}

.test-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    gap: 2rem;
    
}

.test-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    border: 1px solid rgb(173, 169, 169);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-card:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;

}

.test-description{
    font-size: 0.875rem;
    color: #555;
    

}

.test-avatar{
    height: 5rem;
    width: 5rem;
    /* overflow: hidden; */
}

.avatar-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-name{
    font-size: 1rem;
    color: var(--primary-color);
}

.user-post{
    font-size: 0.9rem;
    color: #777;
}








